alembic==1.11.1
annotated-types==0.5.0
fastapi==0.100.0
gunicorn==21.2.0
httptools==0.6.0
psycopg2-binary==2.9.6
pydantic==2.0.3
pydantic-extra-types==2.0.0
pydantic-settings==2.0.2
pydantic_core==2.3.0
pytest==7.4.0
SQLAlchemy==2.0.19
uvicorn==0.23.1
uvloop==0.17.0
aioredis==2.0.1
hiredis==2.2.3
